.animatedBackground {
  -webkit-animation: animatedBackground 100s linear infinite;
  -moz-animation: animatedBackground 100s linear infinite;
  -o-animation: animatedBackground 100s linear infinite;
  animation: animatedBackground 100s linear infinite;
}
@keyframes animatedBackground {
  0% {
    background-position: 0;
  }
  50% {
    background-position: -192rem;
  }
  100% {
    background-position: 0;
  }
}

.zoomIn {
  -webkit-animation: zoomIn 0.5s;
  -moz-animation: zoomIn 0.5s;
  -o-animation: zoomIn 0.5s;
  animation: zoomIn 0.5s;
  visibility: visible;
}
@keyframes zoomIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.zoomOut {
  -webkit-animation: zoomOut 0.5s;
  -moz-animation: zoomOut 0.5s;
  -o-animation: zoomOut 0.5s;
  animation: zoomOut 0.5s;
  visibility: hidden;
}
@keyframes zoomOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}

.bounceInLeft {
  -webkit-animation: bounceInLeft 0.7s;
  -moz-animation: bounceInLeft 0.7s;
  -o-animation: bounceInLeft 0.7s;
  animation: bounceInLeft 0.7s;
  visibility: visible;
}
@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translateX(-300%);
  }
  60% {
    transform: translateX(25%);
  }
  75% {
    transform: translateX(-10%);
  }
  90% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
  }
}

.bounceInRight {
  -webkit-animation: bounceInRight 0.7s;
  -moz-animation: bounceInRight 0.7s;
  -o-animation: bounceInRight 0.7s;
  animation: bounceInRight 0.7s;
  visibility: visible;
}
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    transform: translateX(300%);
  }
  60% {
    transform: translateX(-25%);
  }
  75% {
    transform: translateX(10%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
  }
}

.fadeIn {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
  animation-fill-mode: both;
  visibility: visible;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -o-animation: fadeOut 1s;
  animation: fadeOut 1s;
  visibility: visible;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  -o-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
  visibility: visible;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  -o-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
  visibility: visible;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 1s;
  -moz-animation: fadeInLeft 1s;
  -o-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
  visibility: visible;
}
@keyframes fadeInLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}

/*# sourceMappingURL=animation.css.map */
