@charset "UTF-8";
@font-face {
  font-family: "utm_avoregular";
  src: url(../lib/fonts/UTMAvo_1.ttf);
}
@font-face {
  font-family: "utm_avoregular_bold";
  src: url(../lib/fonts/UTMAvoBold_1.ttf);
}
:root {
  --wrapper: 192rem;
  --container: 120rem;
  --primary-color: #01aeef;
  --secondary-color: #4b4b4b;
  --third-color: #343434;
  --gray-dark: #6f6f6f;
  --gray-light: #ececec;
}
.wrapper {
  max-width: var(--wrapper);
  margin: 0 auto;
}
.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 2rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.4;
  font-weight: 500;
  font-family: 'utm_avoregular';
  color: var(--third-color);
}
h1,
h2 {
  line-height: 50px;
  text-transform: uppercase;
  color: var(--secondary-color);
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  color: var(--secondary-color);
  font-size: 2rem;
}
p {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #555555;
}
img {
  display: block;
  max-width: 100%;
}

// Header ///////////////////////////////////////////////////////////////////////////////
.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--gray-light);
  background: url(../images/bg-introduction.jpg);
  background-attachment: fixed;
  background-size: cover;
  &__content {
    visibility: hidden;
    text-align: center;
    &--slogan {
      color: var(--gray-light);
      span {
        color: var(--primary-color);
      }
    }
    &--title {
      font-size: 2.4rem;
      margin-top: 2.5rem;
      margin-bottom: 3.5rem;
      line-height: 1;
      color: var(--gray-light);
    }
    &--describe {
      width: 70%;
      margin: 0 auto;
      font-size: 1.6rem;
      margin-bottom: 3rem;
      color: var(--gray-light);
    }
  }
  &__button {
    visibility: hidden;
    text-align: center;
    & a {
      margin-top: 2%;
    }
  }
}
.btn {
  display: inline-block;
  cursor: pointer;
  width: 17rem;
  padding: 1.2rem 0;
  margin: 0 1.5rem;
  font-size: 1.6rem;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: 0.5s background linear;
  color: var(--gray-light);
  &--border {
    border: 2px solid var(--primary-color);
    border-radius: 4rem;
  }
  &:hover {
    background: var(--primary-color);
  }
}
// End Header ///////////////////////////////////////////////////////////////////////////////
.activenav{
  color: var(--primary-color);
  border-bottom: 0.2rem solid var(--primary-color);
}
.nav {
  z-index: 99;
  background-color: #f8f8f8;
  border: 1px solid var(--gray-light);
  padding: 2rem 0;
  transition: all 0.5s;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    &--list {
      display: flex;
    }
    &--link {
      padding: 1.7rem;
      &:hover {
        color: var(--primary-color);
      }
    }
    &--translate{
      // padding: 1.7rem;
      overflow: hidden;
      height: 3rem;
      // width: 15rem;
    }
  }
  select {
    margin-left: 1.5rem;
  }
}
.navscroll {
  padding: 1rem 0;
  // margin-bottom: 10rem;
  background-color: #e8e8e8;
  position: fixed;
  top: 0;
  width: 100%;
  .nav__logo {
    img {
      width: 60%;
    }
  }
  .nav__nav--link {
    font-size: 1.5rem;
  }
}
// End Nav ///////////////////////////////////////////////////////////////////////////////

.service {
  visibility: hidden;
  padding: 7rem 0;
  &__title {
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    width: calc(50% - 2rem);
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 4rem 0;
    &:last-child {
      padding: 4rem 0 0;
    }
    i {
      font-size: 5rem;
      color: var(--primary-color);
      line-height: 1;
    }
    .fa-mobile{
      line-height: 0.8;
      font-size: 8.5rem;
      padding : 0 0.4rem 0 0.4rem;
    }
    &--desc {
      margin-left: 2rem;
      h3 {
        margin-bottom: 2rem;
      }
    }
  }
}
// End Service ///////////////////////////////////////////////////////////////////////////////
.quotes {
  background-image: url(../images/bg-parnerts-talk.jpg);
  background-attachment: fixed;
  background-position: 40% 50%;
  background-size: cover;
  padding: 7rem 0;
  &__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      cursor: pointer;
      font-size: 3.5rem;
      color: var(--gray-dark) ;
      &:hover {
        color: var(--gray-light);
      }
    }
  }
  &__slider {
    overflow-x: hidden;
    margin: 0 3%;
    &--list {
      display: flex;
      transition: all 1s;
    }
    &--item {
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      text-align: center;
      i {
        cursor:auto;
        font-size: 4rem;
        color: var(--gray-light);
      }
      h3 {
        margin: 3rem 0 4rem;
        color: var(--gray-light);
        font-size: 2.6rem;
      }
      p {
        color: var(--gray-dark);
      }
    }
  }
}

// End Quotes ///////////////////////////////////////////////////////////////////////////////
.introduce {
  visibility: hidden;
  text-align: center;
  padding: 7rem 0;
  &__title {
    span {
      color: var(--primary-color);
    }
  }
  &__desc {
    font-size: 1.6rem;
    max-width: 80%;
    margin: 0 auto;
    padding: 1.5rem 0 5.5rem;
  }
  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    max-width: 32%;
    i {
      display: block;
      width: 6.2rem;
      border: 0.1rem solid black;
      padding: 1.3rem;
      border-radius: 50%;
      font-size: 3rem;
      margin: 0 auto;
      transition: all 0.4s;
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }
    }
    h3 {
      font-size: 2.4rem;
      margin: 2.5rem 0 1rem;
      color: var(--primary-color);
    }
    p {
      line-height: 2.2rem;
    }
  }
}
// End Introduce ///////////////////////////////////////////////////////////////////////////////
.chart {
  background: #e5e5e5;
  position: relative;
  margin: 8rem 0 0;
  &__content {
    text-align: center;
    position: relative;
    h3 {
      z-index: 1;
      position: absolute;
      top: -15px;
      left: 27%;
      font-size: 1.6rem;
    }
    &--imgskill {
      position: relative;
      display: inline-block;
      margin: -6.6rem auto 0;
      &-chart{
        position: absolute;
        top:20%;
        left:25%;
        width: 55%;
        img{
          width: 100%;
        }
      }
    }
  }
}
// End Chart ///////////////////////////////////////////////////////////////////////////////
.activeprojects{
  color: var(--primary-color);
}
.projects {
  padding: 7rem 0 7rem;
  &__content {
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
  }
  &__item {
    cursor: pointer;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    border-radius: 4rem;
    transition: color 0.2s linear, background 0.2s linear;
    &:hover {
      color: var(--primary-color);
      background: var(--gray-light);
    }
  }
}
.gallery {
  &__list {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    margin: 2% 1% 0;
    width: 31%;

    img {
      border-radius: 1.5rem;
      max-height: 100%;
      width: 100%;
    }
    &--content {
      transition: all 0.5s;
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
      visibility: hidden;
      border-radius: 1.5rem;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 2.4rem;
        color: var(--gray-light);
      }
      p {
        margin: 2rem 0;
        color: var(--gray-light);
      }
      i {
        display: block;
        font-size: 5rem;
        margin: 0 0 2rem;
        color: var(--gray-light);
      }
    }
    &:hover {
      .gallery__item--content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__modal{
    display: none;
    position: fixed;
    z-index: 200;
    padding-top: 5%;
    left:0;
    top:0;
    right:0;
    bottom:0;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    &--content{
      position: relative;
      // display: flex;
      // align-items: center;
      background-color: #fefefe;
      margin: auto;
      padding: 2% 2.5%;
      border-radius: 1rem;
      border: 1px solid #888;
      max-width: 60%;
      i{
        font-size: 3rem;
        // margin: 0 2%;
      }
    }
    &--arrowback{
      position: absolute;
      border-radius: 1rem 0 0 1rem;
      top:0;
      bottom:0;
      left:0;
      width: 4%;
      height: 100%;
      i{
        position: absolute;
        font-size: 4rem;
        top:50%;
        left:30%;
      }
      &:hover{
        background-image: linear-gradient(to right,var(--third-color),var(--gray-light));
        i{
          color: white;
        }
      }
    }
    &--arrowforward{
      position: absolute;
      border-radius: 0 1rem 1rem 0;
      top:0;
      bottom:0;
      right:0;
      width: 4%;
      height: 100%;
      i{
        position: absolute;
        font-size: 4rem;
        top:50%;
        right:30%;
      }
      &:hover{
        background-image: linear-gradient(to left,var(--third-color),var(--gray-light));
        i{
          color: white;
        }
      }
    }
  }
  &__img{
    &--big{
      display: none;
    }
    &--list{
      display: flex;
      flex-wrap: wrap;
    }
  }
}
// End Projects ///////////////////////////////////////////////////////////////////////////////

.statistic {
  padding: 7rem 0;
  background-image: url(../images/bg-statistic.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  &__content {
    text-align: center;
  }
  &__title {
    color: var(--gray-light);
  }
  &__desc {
    color: var(--gray-light);
    padding-top: 1rem;
    font-size: 1.6rem;
    span {
      color: var(--primary-color);
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
  }
  &__item {
    &:nth-child(2) {
      i {
        transform: rotate(90deg);
      }
    }
    width: 33%;
    text-align: center;
    padding: 0 1.5rem;
    line-height: 1.2;
    i {
      font-size: 7rem;
      color: var(--primary-color);
    }
    h3 {
      padding-top: 3%;
      color: var(--gray-light);
      font-size: 6.8rem;
    }
    p {
      color: var(--primary-color);
      font-size: 2.2rem;
    }
  }
}
// End Statistic ///////////////////////////////////////////////////////////////////////////////

.process {
  visibility: hidden;
  padding: 7rem 0;
  &__title {
    text-align: center;
  }
  &__line {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 50%;
    // transform: translateX(-50%);
    margin-left: -0.15rem;
    width: 0.3rem;
    margin-top: 0.5rem;
    background: var(--primary-color);
  }
  &__list {
    position: relative;
    margin: 0 10%;
  }
  &__item {
    display: flex;
    margin: 5% auto;
    &:nth-of-type(2n-1) {
      flex-direction: row;
      text-align: right;
    }
    &:nth-of-type(2n) {
      flex-direction: row-reverse;
      text-align: left;
    }
    &--timeline {
      width: 42%;
    }
    &--icon {
      margin-top: 0.5rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 7rem;
      height: 7rem;
      border-radius: 50%;
      border: 0.2rem solid var(--primary-color);
      text-align: center;
      background-color: white;
      i {
        font-size: 3rem;
        line-height: 6rem;
        color: var(--primary-color);
      }
    }
  }
}
// End Process ///////////////////////////////////////////////////////////////////////////////

.map {
  position: relative;
  iframe{
    height: 80vh;
    width: 100%;
  }
  &:after{
    position: absolute;
    content: "";
    height: 0.5rem;
    bottom:0;
    left:0;
    width: 100%;
    background-color: var(--primary-color);
  }
  // background: url(../images/map.JPG);
}
// End Map ///////////////////////////////////////////////////////////////////////////////

.logo {
  &__content {
    overflow-x: hidden;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    transition: all 1.5s;
    transition-delay: 0.5s;
  }
  &__item {
    text-align: center;
    width: 25%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
// End Logo ///////////////////////////////////////////////////////////////////////////////

.contact {
  padding: 7rem 0;
  background-image: url(../images/bg-contact.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;

  color: var(--gray-light);
  &__content {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }
  &__left {
    width: 48%;
    &--title {
      position: relative;
      color: var(--gray-light);
      font-size: 1.8rem;
      span {
        font-size: 2.4rem;
        color: var(--primary-color);
      }
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0.1rem;
        width: 100%;
        background-color: var(--primary-color);
      }
    }
    &--desc {
      font-size: 1.3rem;
      line-height: 2.2rem;
      margin-top: 2rem;
    }
    .contact {
      &__list {
        padding-top: 4rem;
      }
      &__item {
        padding-bottom: 1.5rem;
        display: flex;
        // justify-content: center;
        // align-items: center;
        i {
          font-size: 2.2rem;
          margin-right: 2rem;
        }
      }
    }
  }
  &__right {
    width: 48%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 3rem;
    form {
      input {
        outline: none;
        width: 100%;
        color: var(--gray-light);
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
      }
      textarea {
        outline: none;
        width: 100%;
        color: var(--gray-light);
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        // height: 8rem;
        // hoac la rows="3" ben code html : textarea
        font-size: 1.8rem;
      }
      input[type="submit"] {
        width: 20%;
      }
      .btn {
        margin: 0 0;
        background-color: var(--primary-color);
        &:hover {
          background-color: #0b6687;
        }
      }
    }
  }
}
// End Contact ///////////////////////////////////////////////////////////////////////////////

.footer {
  text-align: center;
  padding: 3rem 0 4rem;
  position: relative;
  h3 {
    font-size: 1.4rem;
    span {
      color: var(--primary-color);
    }
  }
  .btn {
    position: absolute;
    border: none;
    border-radius: 50%;
    width: 5rem;
    height: 60%;
    padding: 0.5rem 0rem 0;
    background-color: white;
    color: var(--primary-color);
    font-size: 2rem;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      font-size: 3rem;
    }
  }
}
// End Footer ///////////////////////////////////////////////////////////////////////////////
