// --------------- HEADER ---------------- //

.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--gray-light);
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 0;
  background-image: url(../../images/bg-introduction.jpg);
  &__content {
    visibility: hidden;
    text-align: center;
    &--slogan {
      color: var(--gray-light);
      span {
        color: var(--primary-color);
      }
    }
    &--title {
      font-size: 2.4rem;
      margin-top: 2.5rem;
      margin-bottom: 3.5rem;
      line-height: 1;
      color: var(--gray-light);
    }
    &--describe {
      width: 70%;
      margin: 0 auto;
      font-size: 1.6rem;
      margin-bottom: 3rem;
      color: var(--gray-light);
    }
  }
  &__button {
    visibility: hidden;
    text-align: center;
    & a {
      margin-top: 2%;
    }
  }
}
