// --------------- STATISTIC ---------------- //

.statistic {
    padding: 7rem 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../../images/bg-statistic.jpg);
  
    &__content {
      text-align: center;
    }
    &__title {
      color: var(--gray-light);
    }
    &__desc {
      color: var(--gray-light);
      padding-top: 1rem;
      font-size: 1.6rem;
      span {
        color: var(--primary-color);
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      margin-top: 4%;
    }
    &__item {
      &:nth-child(2) {
        i {
          transform: rotate(90deg);
        }
      }
      width: 33%;
      text-align: center;
      padding: 0 1.5rem;
      line-height: 1.2;
  
      i {
        font-size: 7rem;
        color: var(--primary-color);
        @include responsive_320 {
          font-size: 5rem;
        }
        @include responsive_375 {
          font-size: 5rem;
        }
      }
      h3 {
        padding-top: 3%;
        color: var(--gray-light);
        font-size: 6.8rem;
        @include responsive_320 {
          font-size: 5rem;
        }
        @include responsive_375 {
          font-size: 5rem;
        }
      }
      p {
        color: var(--primary-color);
        font-size: 2.2rem;
      }
    }
  }
  
  