// --------------- BASE-SETUP ---------------- //

.wrapper {
  max-width: var(--wrapper);
  margin: 0 auto;
}
.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 2rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  outline:none !important;
  -webkit-tap-highlight-color: transparent;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @include responsive_320 {
    font-size: 42.5%;
  }
  @include responsive_375 {
    font-size: 45.5%;
  }
  @include responsive_425 {
    font-size: 48.5%;
  }
  @include responsive_500 {
    font-size: 48.5%;
  }
  @include responsive_768 {
    font-size: 55.5%;
  }
  @include responsive_992 {
    font-size: 57.5%;
  }
  @include responsive_1024 {
    font-size: 58.5%;
  }
  @include responsive_1440 {
    font-size: 62.5%;
  }
}
body {
  line-height: 1.4;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--third-color);
}
h1,
h2 {
  line-height: 50px;
  text-transform: uppercase;
  color: var(--secondary-color);
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  color: var(--secondary-color);
  font-size: 2rem;
}
p {
  font-size: 1.4rem;
}
a {
  text-decoration: none;
  font-size: 1.8rem;
  color: #555555;
}
img {
  display: block;
  max-width: 100%;
}
