// --------------- FONTS ---------------- //

@font-face {
  font-family: "utm_avoregular";
  src: url(../lib/fonts/UTMAvo_1.ttf);
}
@font-face {
  font-family: "utm_avoregular_bold";
  src: url(../lib/fonts/UTMAvoBold_1.ttf);
}
