// --------------- VARIABLES ---------------- //

@charset "UTF-8";
:root {
  --wrapper: 192rem;
  --container: 120rem;
  --primary-color: #01aeef;
  --secondary-color: #4b4b4b;
  --third-color: #343434;
  --gray-dark: #6f6f6f;
  --gray-light: #ececec;
}
